/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define SMART_REPEAT(NAME, LABEL, DEFAULT) \
        NAME: NAME { \
            compatible = "zmk,behavior-antecedent-morph"; \
            label = LABEL; \
            #binding-cells = <0>; \
            max-delay-ms = <ADAPTIVE_KEY_TIMEOUT>; \
            defaults = <DEFAULT>; \
            antecedents = < \
                           A           B           C           D           E           F           G           H          \
                           I           J           K           L           M           N           O           P          \
                           Q           R           S           T           U           V           W           X          \
                           Y           Z \
                           >; \
            bindings =    < \
                           &kp V       &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat\
                           &kp V       &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat\
                           &kp V       &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat &key_repeat\
                           &key_repeat &key_repeat \
                           >; \
        };

    #define SMART_MAGIC(NAME, LABEL, DEFAULT) \
        NAME: NAME { \
            compatible = "zmk,behavior-antecedent-morph"; \
            label = LABEL; \
            #binding-cells = <0>; \
            max-delay-ms = <ADAPTIVE_KEY_TIMEOUT>; \
            defaults = <DEFAULT>; \
            antecedents = < \
                           A     E      H     G     O     P     R     S     T     U     W     Y     \
                           >; \
            bindings =    < \
                           &kp O &kp U  &kp Y &kp S &kp A &kp H &kp L &kp C &kp M &kp E &kp S &kp P \
                           >; \
        };

    thumbs {

        ltn: layer-tap-no-quick-tap {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          tapping-term-ms = <TAPPING_TERM>;
          flavor = "tap-preferred";
          quick-tap-ms = <0>;
          bindings = <&mo>, <&kp>;
        };
        
        // ******************* SMART SHIFT / CAPS WORD ******************* //

        custom_caps_word: custom_caps_word {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;  
            continue-list = <UNDERSCORE MINUS BACKSPACE DELETE SQT TILDE CARET GRAVE >;
        };

        shift_caps_word: shift_caps_word {
            compatible = "zmk,behavior-mod-morph";
            label = "shift_caps_word";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&custom_caps_word>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // ******************** SMART SHIFT / REPEAT KEY ******************** //

        SMART_REPEAT(smart_shift_repeat, "smart_shift_repeat", &shift_caps_word)

        ht_repeat: ht_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&smart_shift_repeat>;
        };

        // ******************** SMART SHIFT / MAGIC KEY ******************** //

        SMART_MAGIC(smart_shift_magic, "smart_shift_magic", &shift_caps_word)

        ht_magic: ht_magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&smart_shift_magic>;
        };
    };
};
